@font-face {
    font-family: 'silkscreen';
    src:
        local("silkscreen"),
        url('./fonts/silkscreen/slkscr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'silkscreen';
    src:
        local("silkscreen"),
        url('./fonts/silkscreen/slkscrb-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'silkscreen';
    src:
        local("silkscreen"),
        url('./fonts/silkscreen/slkscre-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'silkscreen';
    src:
        local("silkscreen"),
        url('./fonts/silkscreen/slkscreb-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'eurostile';
    src: url('./fonts/eurostile/eurostile.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 0.7em;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#3383e6, #bbe1fa);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3383e6;
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: #3383e6 transparent;
        scrollbar-width: thin;
    }
}

body {
    background-image: url("./images/circuit.png");
    background-color: #fafafa;
    font-family: "eurostile";
    color: #000000;
    margin: 0px 0px;
}

h1 {
    font-size: 400%;
    font-weight: bold;
}

h2 {
    font-size: 250%;
    font-weight: bold;
}

h3 {
    font-size: 200%;
    font-weight: bold;
}

h4 {
    font-size: 120%;
    font-weight: bold;
}

p {
    font-size: 140%;
    align-content: center;
}

.main {
    margin: 0px 20%;
}

li {
    font-size: 140%;
}

header {
    background-color: #3383e6;
    background-image: url('./images/header_day.jpg');
    justify-content: flex-end;
    display: flex;
    align-items: end;
    padding: 0px 20%;
    padding-top: 9em;
}

.day header {
    background-image: url('./images/header_day.jpg');
}

.sunset header {
    background-image: url('./images/header_sunset.jpg');
}

.sunset .menu a.active {
    background-color: #e9a29f;
    color: #000000;
}

.sunset ::-webkit-scrollbar-thumb {
    background: linear-gradient(#5668a0, #e9a29f);
    border-radius: 10px;
}

.sunset ::-webkit-scrollbar-thumb:hover {
    background: #5668a0;
}

.night header {
    background-image: url('./images/header_night.jpg');
}

.night .menu a:hover {
    background-color: #ffffff;
    color: #000000;
}

.night .menu a.active {
    background-color: #e7c2f1;
    color: #000000;
}

.night h1 {
    color: #ffffff;
}

.night ::-webkit-scrollbar-thumb {
    background: linear-gradient(#0f0a16, #e7c2f1);
    border-radius: 10px;
}

.night ::-webkit-scrollbar-thumb:hover {
    background: #0f0a16;
}

.night .badge_gallery a img:hover {
    box-shadow: 4px 4px 25px rgba(106, 6, 236, 0.5);
}

.night .badge_gallery_2 a img:hover {
    box-shadow: 4px 4px 25px rgba(106, 6, 236, 0.5);
}

table {
    background-color:rgba(0, 0, 0, 0.1);
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 20px;
    border: 3px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 160%;
}

table, th, td {
    
    text-align: left;
}

th, td {
    padding: 1%;
}

table th:not(:last-child),
table td:not(:last-child) {
    border-right: 3px solid black;
}

table > thead > tr:not(:last-child)>th,
table > thead > tr:not(:last-child)>td,
table > tbody > tr:not(:last-child)>th,
table > tbody > tr:not(:last-child)>td,
table > tfoot > tr:not(:last-child)>th,
table > tfoot > tr:not(:last-child)>td,
table > tr:not(:last-child)>td,
table > tr:not(:last-child)>th,
table > thead:not(:last-child),
table > tbody:not(:last-child),
table > tfoot:not(:last-child) {
    border-bottom: 3px solid black;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

iframe {
    margin: auto;
}

.badge_gallery {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1em;
}

.badge_gallery img {
    height: 2em;
    width: auto;
    box-shadow: 4px 4px 25px rgba(51, 51, 51, 0.2);
}

.badge_gallery a img:hover {
    box-shadow: 4px 4px 25px rgba(51, 132, 230, 0.7);
}

.projects_badge_gallery {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0.5em;
    padding: 1% 0%;
}

.projects_badge_gallery img {
    height: 1.5em;
    width: auto;
    box-shadow: 4px 4px 25px rgba(51, 51, 51, 0.2);
}

.badge_gallery_2 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1em;
}

.badge_gallery_2 img {
    height: 2em;
    width: auto;
    box-shadow: 4px 4px 25px rgba(51, 51, 51, 0.2);
}

.badge_gallery_2 a img:hover {
    box-shadow: 4px 4px 25px rgba(51, 132, 230, 0.7);
}

.back {
    font-weight: bold;
    font-size: 140%;
    padding-top: 6%;
    padding-bottom: 1%;
}

.back a {
    color: #000000;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 4px 4px 25px rgba(51, 51, 51, 0.2);
    padding: 1% 1%;
    text-decoration: none;
}

.back a:hover {
    color: #ffffff;
    background-color: #000000;
}

.menu {
    list-style: none;
}

.menu_h1 {
    margin-right: auto;
    margin-bottom: 0%;
}

.menu li {
    display: inline-block;
    padding-top: 25%;
    padding-bottom: 1%;
    font-size: 140%;
    font-weight: bold;
    color: #ffffff;
}

.menu a {
    padding: 15px 10px;
    text-decoration: none;
    color: #ffffff;
}

.menu a:hover {
    background-color: #000000;
    border-radius: 5px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.menu a.active {
    background-color: #bbe1fa;
    color: #000000;
    border-radius: 5px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.gallery {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1%;
    padding: 1% 0%;
}

* {
    box-sizing: border-box;
}

.timeline {
    margin: auto;
    width: 70%;
    height: auto;
    padding: 0% 0%;
    padding-top: 3em;
    display: grid;
    place-items: center;
    position: relative;
}

.container {
    width: 140%;
    height: auto;
    position: relative;
}

.container ul::after {
    position: absolute;
    content: '';
    width: 0.3em;
    height: 100%;
    background-color: #6a06ec;
    transform: translate(-37%, 0%);
}

.container ul {
    list-style: none;
}

.container ul li {
    width: 50%;
    height: auto;
    padding: 0em 1em;
    padding-bottom: 0.75em;
    background-color: #ffffff;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 25px rgba(51, 51, 51, 0.2);
    position: relative;
    z-index: 99;
}

.container ul li:hover {
    box-shadow: 4px 4px 25px rgba(106, 6, 236, 0.5);
}

.container ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
}

.container ul li:nth-child(odd) .date {
    right: 20px;
}

.container ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
}

.container ul li:nth-child(4) {
    margin-bottom: 0;
}

.timeline p {
    font-size: 100%;
    font-weight: normal;
    margin: 1% 0;
}

.timeline a {
    color: #000000;
    text-decoration: none;
}

.timeline ul li .date {
    position: absolute;
    top: -45px;
    width: 135px;
    height: 35px;
    border-radius: 20px;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 4px 4px 25px rgba(51, 51, 51, 0.2);
    font-weight: bold;
    display: grid;
    place-items: center;
    font-size: 75%;
}

.container ul li .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #6a06ec;
    position: absolute;
    top: 0;
}

.container ul li .circle::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container ul li:nth-child(odd) .circle {
    right: -30px;
    transform: translate(50%, -50%);
}

.container ul li:nth-child(even) .circle {
    left: -30px;
    transform: translate(-50%, -50%);
}

@media screen and (max-width:1224px) {
    .container{
        width: 85%;
    }
}

@media screen and (max-width:993px) {
    .container {
        width: 80%;
        transform: translateX(15px);
    }

    .container ul::after {
        left: -30px;
    }

    .container ul li {
        width: 100%;
        float: none;
        clear: none;
        margin-bottom: 80px;
    }

    .container ul li:nth-child(odd) {
        text-align: left;
        transform: translateX(0);
    }

    .container ul li:nth-child(odd) .date {
        left: 20px;
    }

    .container ul li:nth-child(odd) .circle {
        left: -30px;
        transform: translate(-50%, -50%);
    }

    .container ul li:nth-child(even) {
        transform: translateX(0);
    }
}